GXPEngine/obj
.vs
.vscode
GXPEngine.userprefs
GXPEngine/bin/Release
GXPEngine/bin/Debug/GXPEngine.exe
GXPEngine/bin/Debug/GXPEngine.pdb
GXPEngine/bin/Debug/GXPEngine.exe.config
GXPEngine/bin/Debug/GLCache